@model  LL.EpiserverCyberSourceConnector.Core.Payments.GooglePay.CyberSourceGooglePayPaymentMethod

@Html.HiddenFor(model => model.SystemKeyword)
<div id='PaymentGooglePay'>
    <img src="https://developer.android.com/images/landing/play-hero-logo.svg" border="0" alt="Google Pay Acceptance Mark">
    <span class="text-error">@ViewBag.Message</span>
</div>