@model LL.EpiserverCyberSourceConnector.Payments.GooglePay.IGooglePayConfiguration

<div id="container"></div>

<script src="~/Scripts/google-pay-sample.js"></script>
<script async
        src="https://pay.google.com/gp/p/js/pay.js"
        onload="onGooglePayLoaded()">
</script>

<script>

    //change Place Order button in  google pay styling
    jsChangePaymentList = document.getElementsByClassName("jsChangePayment");
    for (var i = 0; i < jsChangePaymentList.length; i++) {
        jsChangePaymentList[i].addEventListener("click", function (e) {
            if (getGoogleIsReadyToPayRequest()) {
                var paymentOptions = document.getElementsByClassName("jsChangePayment");
                for (var i = 0; i < paymentOptions.length; i++) {
                    if (paymentOptions.item(i).value === '@Model.PaymentMethodSystemName' &&
                        paymentOptions.item(i).checked) {
                        document.getElementById("placeOrder").style.visibility = 'hidden';
                        document.getElementsByClassName("gpay-button")[0].style.visibility = 'visible';
                        return;
                    } else {
                        document.getElementById("placeOrder").style.visibility = 'visible';
                        document.getElementsByClassName("gpay-button")[0].style.visibility = 'hidden';
                    }
                }
            }
        });
    }
</script>